body {
    margin: auto;
    width: 100%;
    background: cover;
}

header {
    background-color: black;
}

h1, h2 {
    font-family: 'Eagle Lake', cursive;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
}

h1 {
    font-size: 5em;
    padding: 20px 0 0 0;
}

h2 {
    font-size: 4em;
    padding: 0 0 20px 0;
}

h3 {
    font-family: 'Eagle Lake', cursive;
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 36px;
}

img {
    width: 500px;
    display: none;
}

.container {
    width: 100%;
    height: auto;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.word {
    font-size: 36px;
    color: white;
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
    width: auto;
    text-align: center;
    letter-spacing: .5em;
    margin: 30px;
    background-color: #333333;
    opacity: .5;
    padding: 5px;
    border: 2px solid black;
}

.stats {
    width: 33.33%;
}

#guess, #remaining {
    font-size: 36px;
    color: white;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    margin: 20px;
    text-align: center;
    font-family: 'Eagle Lake', cursive;
}